# Import the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning) 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# PART 1

## Import the sales and stores files for adidas

- Adidas_Sales.csv

- Adidas_Stores.csv

In [2]:
# Load in the entire data set from the Sales file
df_sales = pd.read_csv(filepath_or_buffer='../Data/Adidas_Sales.csv')

# Load in only a selected subset of columns from the Stores file
cols = ['Asset ID', 'Location', 'Province', 'City', 'Asset Type','Employees']
df_stores = pd.read_csv(filepath_or_buffer='../Data/Adidas_Stores.csv', index_col='Asset ID', usecols=cols)

## Merge both datasets into a single dataset

In [3]:
# Merge the Stores DataFrame into the Reporting DataFrame
df_merged = pd.merge(df_stores, df_sales, on='Asset ID', how='outer')

# Part 2 - Build a multi index

Use the columns 
- Asset ID
- Location
- Province
- Cit
- Asset Type
- Brand
- Financials

In [4]:
tuples = list(zip(df_merged['Asset ID'],df_merged['Location'], df_merged['Province'],
                  df_merged['City'], df_merged['Asset Type'], df_merged['Brand'], df_merged['Financials']))
hier_index = pd.MultiIndex.from_tuples(tuples)    

# Reset the Index
df_merged.reset_index()
df_merged.index = hier_index

# Drop unwanted columns
df_merged.pop('Asset ID')
df_merged.pop('Location')
df_merged.pop('Province')
df_merged.pop('City')
df_merged.pop('Asset Type')
df_merged.pop('Brand')
df_merged.pop('Financials')

df_merged.index.names = ['Asset ID','Location', 'Province', 'City', 'Asset Type', 'Brand', 'Financials']

# Part 3 - Pivot Tables

Using the same Multi Index created for part 2, produce pivots for the following

1)  Produce pivots for the following
    - by Asset ID
    - by Location
    - by Province
    - by City
    - by Asset Type
    - by Brand
    - by Financials

2) Create a pivot of the following
    - Location, Province, Asset Type
    - For each quarter between Mar-16 and Dec-17 (inclusive)

In [5]:
pd.options.display.float_format = '{:,.0f}'.format
cols = df_merged.columns[1:]

# by Asset ID
df_merged.pivot_table(index='Asset ID')[cols]

# by Location
df_merged.pivot_table(index='Location')[cols]

# by Province
df_merged.pivot_table(index='Province')[cols]

# by City
df_merged.pivot_table(index='City')[cols]

# by Asset Type
df_merged.pivot_table(index='Asset Type')[cols]

# by Brand
df_merged.pivot_table(index='Brand')[cols]

# by Financials
df_merged.pivot_table(index='Financials')[cols]


# by Location, Province and Asset Type
# For the quarters Mar-16 to Dec-17

idx = ['Location', 'Province', 'Asset Type']
cols = df_merged.columns[9:17]
df_merged.pivot_table(index=idx)[cols]

                                                                  Mar-16  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre   123,866
                                           Store                   8,587
          Ciudad Autonoma de Buenoas Aires Distribution Centre   188,544
          Ciudad Autonoma de Buenos Aires  Distribution Centre   271,598
Austria   (blank)                          Distribution Centre    91,494
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  49,400
          Tien Giang                       Distribution Centre   414,242
                                           Factory             1,400,597
          Vinh Long                        Factory             6,464,714
          Vinh Phuc                        Distribution Centre    17,995

                                                                  Jun-16  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    89,080
                                           Store                   8,894
          Ciudad Autonoma de Buenoas Aires Distribution Centre   252,260
          Ciudad Autonoma de Buenos Aires  Distribution Centre   247,522
Austria   (blank)                          Distribution Centre    93,201
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  60,681
          Tien Giang                       Distribution Centre   366,386
                                           Factory             1,248,602
          Vinh Long                        Factory             4,490,358
          Vinh Phuc                        Distribution Centre    57,549

                                                                  Sep-16  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    45,128
                                           Store                  10,194
          Ciudad Autonoma de Buenoas Aires Distribution Centre   209,950
          Ciudad Autonoma de Buenos Aires  Distribution Centre   267,526
Austria   (blank)                          Distribution Centre   116,496
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  49,399
          Tien Giang                       Distribution Centre   426,754
                                           Factory             1,341,781
          Vinh Long                        Factory             6,663,932
          Vinh Phuc                        Distribution Centre    69,000

                                                                  Dec-16  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    56,707
                                           Store                   9,940
          Ciudad Autonoma de Buenoas Aires Distribution Centre   224,737
          Ciudad Autonoma de Buenos Aires  Distribution Centre   243,542
Austria   (blank)                          Distribution Centre   121,234
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  54,366
          Tien Giang                       Distribution Centre   350,254
                                           Factory             1,325,196
          Vinh Long                        Factory             5,738,534
          Vinh Phuc                        Distribution Centre   151,675

                                                                  Mar-17  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    46,204
                                           Store                   9,188
          Ciudad Autonoma de Buenoas Aires Distribution Centre   207,257
          Ciudad Autonoma de Buenos Aires  Distribution Centre   283,641
Austria   (blank)                          Distribution Centre    75,792
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  44,812
          Tien Giang                       Distribution Centre   322,156
                                           Factory             1,068,484
          Vinh Long                        Factory             7,358,538
          Vinh Phuc                        Distribution Centre    47,509

                                                                  Jun-17  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    51,460
                                           Store                   8,286
          Ciudad Autonoma de Buenoas Aires Distribution Centre   249,945
          Ciudad Autonoma de Buenos Aires  Distribution Centre   274,478
Austria   (blank)                          Distribution Centre   117,162
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  50,318
          Tien Giang                       Distribution Centre   428,197
                                           Factory             1,442,002
          Vinh Long                        Factory             5,685,031
          Vinh Phuc                        Distribution Centre    83,576

                                                                  Sep-17  \
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre   111,265
                                           Store                  10,029
          Ciudad Autonoma de Buenoas Aires Distribution Centre   290,540
          Ciudad Autonoma de Buenos Aires  Distribution Centre   262,697
Austria   (blank)                          Distribution Centre   106,744
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  46,902
          Tien Giang                       Distribution Centre   319,422
                                           Factory               957,294
          Vinh Long                        Factory             6,572,585
          Vinh Phuc                        Distribution Centre    91,162

                                                                  Dec-17
Location  Province                         Asset Type
Argentina Buenos Aires                     Distribution Centre    89,342
                                           Store                   8,442
          Ciudad Autonoma de Buenoas Aires Distribution Centre   275,142
          Ciudad Autonoma de Buenos Aires  Distribution Centre   261,009
Austria   (blank)                          Distribution Centre    81,246
...                                                                  ...
Vietnam   Thu Do Ha Noi                    Store                  57,284
          Tien Giang                       Distribution Centre   363,732
                                           Factory               983,273
          Vinh Long                        Factory             5,859,771
          Vinh Phuc                        Distribution Centre    60,795

[362 rows x 8 columns]

# Part 4 - Group By

Using the same Multi Index created for part 2, use the pandas.groupby method to produce groups of the following

1) The sum of all Financials for each Location for the quarters Mar-16 through to Dec-17 inclusive

2) The total number of employees for the entire enterprise grouped by Lcoation, Brand and City

In [6]:
df_merged.groupby(level=['Location', 'Financials']).sum().loc[:,'Mar-16':'Dec-17']

                                        Mar-16     Jun-16     Sep-16  \
Location  Financials
Argentina Cost of Sales                1128243    1189598    1131810
          Gross Profit                  704303     693976     619473
          Income Before Tax             658862     643327     558838
          Net Income                    575450     556720     473301
          Net Sales                    1832546    1883574    1751283
...                                        ...        ...        ...
Vietnam   Net Sales                  175353611  172186946  179373813
          Operating Income            51786843   48025823   58156818
          Provisions for Income Tax   11387586   11360594   11386489
          Total Operating Expenses    15005855   15049361   14795326
          Total Other Income          10238586   10205367   10082211

                                        Dec-16     Mar-17     Jun-17  \
Location  Financials
Argentina Cost of Sales                1147278    1208201    1231997
          Gross Profit                  602103     595159     645511
          Income Before Tax             565981     546259     597001
          Net Income                    481876     457625     511582
          Net Sales                    1749381    1803360    1877508
...                                        ...        ...        ...
Vietnam   Net Sales                  172713541  177220299  173191210
          Operating Income            49310160   55226546   49244113
          Provisions for Income Tax   11042363   11168383   11616700
          Total Operating Expenses    15076024   14662891   14945673
          Total Other Income          10394660   10232060   10167758

                                        Sep-17     Dec-17
Location  Financials
Argentina Cost of Sales                1129421    1279568
          Gross Profit                  864758     725468
          Income Before Tax             818845     659036
          Net Income                    736460     576609
          Net Sales                    1994179    2005036
...                                        ...        ...
Vietnam   Net Sales                  176482566  173268458
          Operating Income            50996166   52124985
          Provisions for Income Tax   11402937   11296425
          Total Operating Expenses    15147393   14947504
          Total Other Income          10637484   10307623

[531 rows x 8 columns]

In [7]:
grps = ['Location', 'Brand','City']


df_merged['Employees'].groupby(by=grps).sum()

Location   Brand   City
Argentina  Adidas  Buenos Aires                 108
                   Coronel Suárez               729
                   Haedo                        171
                   Las Flores                    54
                   Partido de Vicente Lopez      36
                                               ...
Vietnam    Reebok  Tan Phuoc District           738
                   Thai Nguyen                  891
                   Tien Giang                 1,422
                   Trieu Son                  1,980
                   Vinh City                  1,620
Name: Employees, Length: 672, dtype: float64

# Part 5 - Cross Sections

Use the pandas.xs method to produce the following cross sections

1) Total quarterly Financials for the USA for the year 2018

2) Total quarterly Operating Income for each country for the year 2017

In [8]:
# the total Financials for the United States for the year 2018
df_merged.xs(key='United States', level='Location', drop_level=False).loc[:,'Mar-18' : 'Dec-18'].groupby(level=['Location', 'Financials']).sum()

                                          Mar-18   Jun-18   Sep-18   Dec-18
Location      Financials
United States Cost of Sales              2089755  2131428  2091859  2087261
              Gross Profit               1508690  1511672  1420784  1629611
              Income Before Tax          1426595  1434623  1324051  1546299
              Net Income                 1237347  1248438  1138032  1352001
              Net Sales                  3598445  3643100  3512643  3716872
              Operating Income           1200151  1212183  1101003  1327002
              Provisions for Income Tax   189248   186185   186019   194298
              Total Operating Expenses    308539   299489   319781   302609
              Total Other Income          226444   222440   223048   219297

In [9]:
# The operating income for all countries
df_merged.xs(key='Operating Income', level='Financials', drop_level=False).loc[:,'Mar-17' : 'Dec-17'].groupby(level=['Location', 'Financials']).sum()

,,Mar-17,Jun-17,Sep-17,Dec-17
Location,Financials,,,,
Argentina,Operating Income,427916,486571,697292,551379
Austria,Operating Income,-4309,88643,47284,17326
Bangladesh,Operating Income,7839404,3782009,8211377,6210371
Belgium,Operating Income,66688,38589,39918,58904
Bosnia And Herzegovina,Operating Income,204035,151423,167023,217911
Brazil,Operating Income,1594461,2255155,1968203,1886706
Cambodia,Operating Income,4587634,3410445,3271195,3629171
Canada,Operating Income,-107190,-129992,-132063,-54561
Chile,Operating Income,18616,18220,15101,12713
China,Operating Income,21888244,25120886,21899663,21161769
Colombia,Operating Income,253942,159672,390636,68570
Costa Rica,Operating Income,17694,19240,26366,29195
Czech Republic,Operating Income,63785,142600,18435,128910
Dominican Republic,Operating Income,16081,17953,-16072,-7738
Egypt,Operating Income,1806075,2160781,1861280,2209304
El Salvador,Operating Income,1400225,1479048,1484820,1666846
Georgia,Operating Income,406417,379553,353427,482433
Germany,Operating Income,-60807,-27172,-25211,-20255
Guatemala,Operating Income,1372198,948207,1240869,982117
Haiti,Operating Income,940615,584695,657703,537057
Honduras,Operating Income,2830648,2671912,3440831,2969590
Hungary,Operating Income,5056,3093,4437,4406
India,Operating Income,3245498,4600613,3609387,3575958
Indonesia,Operating Income,22166271,23822116,22318479,20732341
Israel,Operating Income,9273,-13535,7544,24644
Italy,Operating Income,96807,86896,83461,93533
Japan,Operating Income,456371,512432,497948,485004
Jordan,Operating Income,1304006,1740294,1130334,1634767
"Korea, Republic of (South Korea)",Operating Income,124284,144747,122575,158326
Lesotho,Operating Income,724366,826386,1047808,841239
Lithuania,Operating Income,21714,40594,37145,26706
Madagascar,Operating Income,242786,215776,291630,158439
Malaysia,Operating Income,63619,35735,68864,39040
Mauritius,Operating Income,1469159,1540473,1655784,1594887
Mexico,Operating Income,766019,745963,824105,627310
Monaco,Operating Income,44205,28035,57990,51297
Myanmar,Operating Income,2890044,2302373,2197197,2782413
Netherlands,Operating Income,11195,7786,8419,11025
Nicaragua,Operating Income,1078355,1244123,1059652,689161
Pakistan,Operating Income,8652857,7633733,7857644,8440891
Philippines,Operating Income,3207813,3510456,3086470,3271564
Poland,Operating Income,-138406,-144874,-123663,-200241
Portugal,Operating Income,323232,248634,320086,301517
Puerto Rico,Operating Income,89319,94503,96495,87786
Romania,Operating Income,60334,55092,48018,55621
Russia,Operating Income,251086,313346,341426,269436
Slovenia,Operating Income,10052,4177,3310,811
South Africa,Operating Income,157261,191926,108370,131192
Spain,Operating Income,-197153,-118300,-202440,-123636
Sri Lanka,Operating Income,675037,353474,505164,466061
Syrian Arab Republic,Operating Income,-55738,-96745,-67565,-69725
Taiwan,Operating Income,705542,673597,631891,361487
Thailand,Operating Income,6693005,8141540,8115632,8846739
Tunisia,Operating Income,-48404,-51576,-37600,-104025
Turkey,Operating Income,561692,289072,470345,389028
Ukraine,Operating Income,41175,51990,77282,85715
United Kingdom,Operating Income,323966,273801,297843,248972
United States,Operating Income,1162164,1184242,1259551,1217102
Vietnam,Operating Income,55226546,49244113,50996166,52124985